
/* Universal */

html {
  font-family: "Montserrat", "helvetica", sans-serif;
  color: hsla(220, 100%, 15%, 1);
  font-weight: 300;
  font-size: 16px;
}

body {
  margin: 0;
}

.container {
  display: flex;
}

/* Universal Styles */

.banner, .courses {
  background-color: hsla(220, 40%, 15%, 1);
}

.info, .thesis {
  background-color: hsla(40, 10%, 75%, 1);
}

img, a, .button, .box, .logo, .course, .course .text, .crsbutton, video {
  box-shadow: 0.5px 0.5px 3px hsla(40, 0%, 0%, 1);
  border-radius: 0.5rem;
}

.box img {
  box-shadow: none;
}

a, .button, .logo, .banner h1 {
  text-shadow: 0.5px 0.5px 3px hsla(40, 0%, 0%, 1);
}

.box, .course .text {
  background-color: hsla(200, 10%, 95%, 1);
}

.info .box:last-child, .thesis .box:first-child {
  background-color: hsla(220, 40%, 15%, 1);
  color: hsla(40, 80%, 60%, 1);
}

.box:hover, .info .box:hover,
.thesis .box:hover {
  background-color: hsla(180, 100%, 15%, 1);
  color: white;
  box-shadow: 3px 3px 4px hsla(40, 0%, 0%, 1);
}

.course .text:hover {
  background-color: hsla(40, 10%, 58%, 1);
  color: white;
  box-shadow: 3px 3px 4px hsla(40, 0%, 0%, 1);
}

a, .button, .box, .course .text, .thesis .box {
  transition: all 80ms linear;
}

.cursive {
  font-family: "Parisienne", "helvetica", sans-serif;
}

h1 {
  font-family: "Raleway", "helvetica", sans-serif;
  font-size: 2.5rem;
}

.courses h1, .thesis h1 {
  font-family: "Montserrat", "helvetica", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
}

h2 {
  font-weight: 500;
}

h3 {
  font-size: 1.5rem;
}

/* Header Section */

header {
  background-color: hsla(40, 10%, 38%, 1);
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 1px solid hsla(40, 30%, 18%, 1);
}

.logo {
  background-color: hsla(40, 10%, 58%, 1);
  height: 2rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.logo img {
  height: 2rem;
  box-shadow: none;
}

.logo span {
  font-family: "Cinzel", "helvetica", sans-serif;
  color: hsla(80, 20%, 90%, 1);
  color: hsla(40, 80%, 40%, 1);

  font-size: 2rem;
  padding: 0.5rem 0.5rem 0.5rem 0;
}

.logo .strong {
  color: hsla(40, 70%, 60%, 1);
  font-weight: bold;
}

.navbox {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

header nav span a {
  background-color: hsla(40, 10%, 65%, 1);
  color: hsla(200, 10%, 95%, 1);
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem;
}

header nav span a:hover {
  background-color: hsla(40, 10%, 75%, 1);
  color: hsla(180, 50%, 25%, 1);
  text-shadow: none;
  transition: all 80ms linear; /**/
}

.mobile {
  display: none;
}

/* Body General */

.bigbox {
  width: 60%;
  height: auto;
  margin: 2rem 1.5rem;
  display: flex;
}

.info .bigbox,
.thesis .bigbox {
  flex-direction: column;
}

.bigbox img {
  width: 100%;
  height: 100%;
}

.littlebox {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.box {
  width: 99.7%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1px 0;
}

.box img {
  width: 100%;
  height: auto;
}

.box .imgbox {
  width: 35%;
  padding: 1rem;
  height: auto;
}

.info .text,
.thesis .text {
  width: 65%;
}

.text h3, .text h4, .text p {
  margin: 0 0.5rem 0.5rem 0;
}

/* Banner */

.banner {
  display: flex;
  align-items: center;
}

.banner .littlebox {
  justify-content: center;
  max-height: 70%;
  padding: 0;
  margin: 1rem 0;
}

.banner h1, .banner h2, .buttonbox {
  margin-right: 1.5rem;
}

.banner h1 {
  font-size: 3rem;
  color: hsla(200, 10%, 95%, 1);
  font-weight: normal;
  margin: 1rem 0;
}

.banner h2 {
  color: hsla(40, 80%, 70%, 1);
  font-weight: normal;
  margin-top: 0;
}

.buttonbox {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.button a {
  background-color: hsla(40, 10%, 38%, 1);
  color: hsla(80, 20%, 90%, 1);
  padding: 0.5rem 8rem;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
}

.button a:hover {
  background-color: hsla(40, 10%, 75%, 1);
  color: hsla(180, 50%, 25%, 1);
  text-shadow: none;
}

/* Info Section */

.info .bigbox h1 {
  font-weight: bold;
  margin: 2rem 0 0.5rem 0;
}

.text a {
  color: hsla(40, 10%, 58%, 1);
  margin-bottom: 1rem;
  text-decoration: none;
  font-weight: bold;
  box-shadow: none;
  text-shadow: none;
}

.text a:hover {
  color: hsla(40, 70%, 60%, 1);
}

/* Courses Section */

.courses {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.courses .headline {
  text-align: center;
}
.courses .headline h1 {
  color: hsla(40, 70%, 60%, 1);
  margin: 2rem 1rem 1rem 1rem;
}

.courses .container {
  padding: 0 3.5rem 1rem 3.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.course {
  width: 28%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-shadow: none;
}

.course img {
  width: 100%;
}

.course .text {
  color: hsla(40, 100%, 25%, 1);
  padding: 1rem 1rem 1rem 1rem;
}

.course h4 {
  font-size: 1.5rem;
}

/* Thesis Section */

.thesis.container {
  flex-direction: column;
}

.thesis .headline h1 {
  margin: 2rem 0 1rem 0;
  text-align: center;
}

video {
  width: 100%;
}

.thesis .bigbox {
  margin: 1rem 1.5rem 2rem 1.5rem;
}

.thesis .bigbox h3 {
  margin: 1.5rem 0 0.5rem 0;
}

.thesis .bigbox p {
  margin: 0;
}

.thesis .text p {
  margin: 0 0.5rem 0 0;
}

/* Footer Section */

footer {
  background-color: hsla(40, 10%, 38%, 1);
  padding: 1rem 1.5rem;
  border-top: 1px solid hsla(40, 30%, 18%, 1);
  display: flex;
  align-items: center;
}

footer span, footer span i, footer nav span a {
  color: hsl(40, 70%, 60%);
}

.footertext {
  display: flex;
  flex-grow: 1;
}

footer span a {
  box-shadow: none;
}

footer span i {
  padding: 0.5rem;
  text-shadow: none;
}

footer nav span a {
  padding-left: 1rem;
  text-decoration: none;
  text-shadow: none;
}

footer span i:hover, footer nav span a:hover {
  color: hsla(180, 50%, 25%, 1);
}

/* Tablet Code */

@media only screen and (max-width: 960px) {

    .banner.container {
      flex-direction: column;
    }

    .bigbox {
      width: 80%;
    }

    .banner .littlebox {
      width: 90%;
      margin: 0 0 2rem 0;
      text-align: center;
    }

    .banner h1 {
      margin-top: 0;
    }

    .buttonbox {
      margin-top: 1rem;
    }

}

@media only screen and (max-width: 810px) {

  .navbox .desktop {
    display: none;
  }

  .navbox .mobile {
    display: flex;
  }

  header nav span a {
    height: 2rem;
    width: 2rem;
    padding: 0.5rem;
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header nav span a:hover {
    background-color: hsla(40, 60%, 70%, 1);
  }

  nav img {
    box-shadow: none;
  }

  .info .desktop {
    display: none;
  }

  .info .mobile {
    display: flex;
  }

  .info .littlebox {
    width: 100%;
    padding-bottom: 1rem;
    flex-direction: row;
  }

  .info .box:last-child {
    background-color: hsla(200, 10%, 95%, 1);
    color: hsla(220, 100%, 15%, 1);
  }

  .info .box:last-child:hover {
    background-color: hsla(180, 100%, 15%, 1);
    color: white;
    box-shadow: 3px 3px 4px hsla(40, 0%, 0%, 1);
  }

  .info .box {
    width: 100%;
    padding: 1rem;
    border: none;
    flex-direction: column
  }

  .info .box .imgbox {
    width: 92%;
    padding: 1rem;
  }

  .info .box img {
    height: 100%;
  }

  .info .text {
    width: 90%;
  }

  .course {
    margin: 2rem;
  }

  .course h3 {
    font-size: 1.25rem;
  }

  .thesis .container {
    flex-direction: column;
    align-items: center;
  }

  .thesis .littlebox {
    width: 100%;
    flex-direction: row;
    padding-bottom: 1rem;
  }

  .thesis .box {
    width: 50%;
  }

}

/* Mobile Code */

@media only screen and (max-width: 600px) {

  /* Mobile Universal  */

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .container {
    flex-direction: column;
  }

  .bigbox {
    width: 100%;
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .box img {
    height: 100%;
  }

  .littlebox h1 {
    font-size: 2.25rem;
    margin: 1rem;
  }

  .littlebox h2 {
    margin: 1rem;
  }

  .buttonbox {
    margin: 0.5rem 1rem 1rem 1rem;
  }

  .button {
    box-shadow: none;
  }

  /* Mobile Header Section */

  .logo {
    background-color: hsla(40, 70%, 60%, 1);
  }

  header nav span a {
    height: 2rem;
    width: 2rem;
    padding: 0.5rem;
    margin: 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header nav span a:hover {
    background-color: hsla(40, 60%, 70%, 1);
  }

  nav img {
    box-shadow: none;
  }

  /* Mobile Banner Section */

  .banner .littlebox {
    width: 100%;
  }

  .banner h1, .banner h2 {
    text-align: left;
  }

  .banner h1 {
    font-size: 3rem;
  }

  .banner a {
    padding: 0.5rem 4rem;
    width: 80%;
  }

  /* Mobile Info Section */

  .info .bigbox {
    display: none;
  }

  .info .littlebox {
    width: 100%;
    padding: 0;
    margin-bottom: 2rem;
    flex-direction: column;
  }

  .info .box {
    width: 100%;
    padding: 0;
    border: none;
    flex-direction: column;
  }

  .info .box .imgbox {
    width: 92%;
    padding: 1rem;
  }

  .info .box:nth-child(2n+2) {
    margin: 3rem 0;
  }

  .info .box .text {
    padding-bottom: 1rem;
  }

  .info .box h3, .info .box p, .info .box a {
    margin: 0.5rem 1rem;
  }

  .info .text,
  .thesis .text {
    width: 100%;
  }

  .text h3, .text h4, .text p, .info a {
    margin: 0.5rem 2rem;
  }

    /* Mobile Courses Section */

  .courses {
    background-color: hsla(220, 40%, 15%, 1);
  }

  .courses .container {
    padding: 0 1.5rem 2rem 1.5rem;
  }

  .crsbutton {
    background-color: hsla(200, 10%, 95%, 1);
    color: hsla(40, 30%, 38%, 1);
    font-weight: bold;
    padding: 1rem 1rem 1.5rem 1rem;
    margin-bottom: .5rem;
    text-align: center;
    box-shadow: 0.5px 0.5px 3px hsla(40, 0%, 0%, 1);
  }

  .crsbutton:hover {
    background-color: hsla(180, 100%, 15%, 1);
    color: white;
    box-shadow: 3px 3px 4px hsla(40, 0%, 0%, 1);
    text-shadow: 0.5px 0.5px 3px hsla(40, 0%, 0%, 1);
  }

  /* Mobile Thesis Section */

  .thesis .bigbox {
    margin: 0 0 1.5rem 0;
  }

  /* Mobile Footer Section */

  footer span i {
    padding: 0.25rem;
  }
