
/* Universal */

html {
  font-family: "helvetica", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

.container {
  display: flex;
}

/* Header Section */

header {
  background-color: hsl(220, 40%, 25%);
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
}

.logo {
  color: hsl(40, 70%, 60%);
  height: 2rem;
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.logo img {
  height: 2rem;
}

.logo span {
  color: hsl(40, 70%, 60%);
  font-family: /* Add */;
}

.logo .strong {
  font-weight: bold;
}

header nav span a {
  color: hsl(40, 70%, 60%);
  text-decoration: none;
  padding-left: 1rem;
}

.mobile {
  display: none;
}

/* Body General */

.bigbox {
  width: 60%;
  height: auto;
  margin: 2rem 1.5rem;
  display: flex;
}

.info .bigbox,
.thesis .bigbox {
  flex-direction: column;
}

.bigbox img {
  width: 100%;
  height: 100%;
}

.littlebox {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.box {
  width: 99.7%;
  border: 1px solid lightgrey;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.box img {
  width: 100%;
  height: auto;
}

.box .imgbox {
  width: 35%;
  padding: 1rem;
  height: auto;
}

.info .text,
.thesis .text {
  width: 65%;
}
.text h3, .text h4, .text p {
  margin: 0 0.5rem 0.5rem 0;
}

/* Banner */

.banner {
  /*background-color: hsl(20, 70%, 10%);*/
  background-color: lightgrey;
  display: flex;
  align-items: center;
}

.banner .littlebox {
  justify-content: center;
  max-height: 70%;
}

.banner .headline {
  width: 80%;
  height: auto;
}

.headline h1 {
  font-size: 2.5rem;
}

.button {
  background-color: gray;
  color: white;
  padding: 0.5rem;
  text-align: center;
}

/* Info Section */

.info .bigbox h1 {
  margin: 2rem 0 0.5rem 0;
}

.info .box:last-child {
  background-color: lightgrey;
}

/* Courses Section */

.courses {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.courses .headline {
  text-align: center;
}
.courses .headline h1 {
  margin: 2rem 1rem 1rem 1rem;
}

.courses .container {
  padding: 0 3.5rem 1rem 3.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.course {
  background-color: white;
  width: 28%;
  height: auto;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.course img {
  width: 100%;
}

.course .text {
  padding: 1rem 1rem 1rem 1rem;
}

/* Thesis Section */

.thesis.container {
  flex-direction: column;
}

.thesis .headline {
  text-align: center;
}

.thesis .headline h1 {
  margin: 2rem 0 1rem 0;
}

video {
  width: 100%;
}

.thesis .bigbox {
  margin: 1rem 1.5rem 2rem 1.5rem;
}

.thesis .bigbox h3 {
  margin: 1.5rem 0 0.5rem 0;
}

.thesis .bigbox p {
  margin: 0;
}

.thesis .box:first-child {
  background-color: lightgrey;
}

.thesis .text p {
  margin: 0 0.5rem 0 0;
}

/* Footer Section */

footer {
  background-color: lightgrey;
  display: flex;
  padding: 1rem 1.5rem;
}

footer span {
  color: hsl(40, 70%, 60%);
}

.footertext {
  display: flex;
  flex-grow: 1;
}

footer span i {
  padding: 0 0.15rem;
}

footer nav span a {
  color: hsl(40, 70%, 60%);
  text-decoration: none;
  padding-left: 1rem;
}

/* Tablet Code */

@media only screen and (max-width: 900px) {

/* Mobile Code */

@media only screen and (max-width: 600px) {

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }

  header nav span a {
    padding-left: 1.5rem;
    display: flex;
    align-items: center;
  }

  .container {
    flex-direction: column;
  }

  .bigbox {
    width: 100%;
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .littlebox {
    width: 100%;
  }

  .box {
    width: 100%;
    border: none;
    flex-direction: column;
  }

  .box .imgbox {
    width: 100%;
  }

  .box img {
    height: 100%;
  }

  .banner .headline {
    width: 100%;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  .headline h1 {
    font-size: 2.25rem;
    margin: 0 0 2rem 0;
  }

  .headline h2 {
    margin-bottom: 2rem;
  }

  .buttonbox {
    margin: 1rem;
  }

  .button {
    background-color: gray;
    color: white;
    text-align: center;
    padding: 0.5rem;
  }

  .info .bigbox {
    display: none;
  }

.thesis .bigbox {
  margin: 0;
}

}
