
/* Universal */

html {
  font-family: "helvetica", sans-serif;
  font-size: 16px;
}

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

/* Header Section */

header {
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
}

.logo {
  height: 2rem;
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.logo img {
  height: 2rem;
}

.logo span {
  font-family: /* Add */
}

.logo .strong {
  font-weight: bold;
}

header nav span a {
  color: black;
  text-decoration: none;
}

/* Body General */

/*
.section {
  padding: 2rem 0 2rem 1.5rem;
}
*/

.bigbox {
  width: 100%;
  height: auto;
  margin: 2rem 1.5rem;
}

.bigbox img {
  width: 100%;
  height: auto;
}

.littlebox {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.box {
  width: 65%;
  height: 30%;
  padding: 1rem;
  border: 1px solid lightgrey;
  display: flex;
  flex-direction: row;
}

.imgbox {
  width: 35%;
  height: auto;
  margin-right: 1rem;
}

.box img {
  max-width: 100%;
}

.text {
  width: 100%;
}

/* Banner */

.banner {
  background-color: lightgrey; /* COLORS */
  align-items: center;
}

.banner .container {
  max-width: 60%;
}

.headline {
  height: auto;
  padding-right: 5rem;
}

.headline h1 {
  font-size: 3rem;
}

.button {
  background-color: grey;
  color: white;
  padding: 0.5rem;
  text-align: center;
}

/* Info Section */

.info .container {
  flex-direction: column;
  max-width: 60%;
}

/* Courses Section */

.courses {
  background-color: lightgrey;
  flex-wrap: wrap;
}

.course {
  height: 30%;
}

/* Thesis Section */

video {
  width: 100%;
}

/* Footer Section */
